
<%= simple_form_for(@physique) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :racine_cli %>
    <%= f.input :etat_civil %>
    <%= f.input :code_sexe %>
    <%= f.input :situation_matrimonial %>
    <%= f.input :juridique %>
    <%= f.input :qualite %>
    <%= f.input :profession %>
    <%= f.input :nbre_enfants %>
    <%= f.input :prenoms %>
    <%= f.input :marital_nom %>
    <%= f.input :marital_prenom %>
    <%= f.input :nom_de_la_mere %>
    <%= f.input :prenoms_du_mere %>
    <%= f.input :nom_du_pere %>
    <%= f.input :prenoms_du_pere %>
    <%= f.input :piece %>
    <%= f.input :numero %>
    <%= f.input :iso_pays %>
    <%= f.input :dep_delivre_ci %>
    <%= f.input :delivree %>
    <%= f.input :validite %>
    <%= f.input :pays_nationalite %>
    <%= f.input :naissance %>
    <%= f.input :iso_pays_naissance %>
    <%= f.input :commune %>
    <%= f.input :pays_de_residence %>
    <%= f.input :dep_de_residence %>
    <%= f.input :adresse_residence %>
    <%= f.input :ville_residence %>
    <%= f.input :pays %>
    <%= f.input :portable %>
    <%= f.input :courr %>
    <%= f.input :diplome_obtenu %>
    <%= f.input :salaire_net %>
    <%= f.input :date_embauche %>
    <%= f.input :date_depart_retraite %>
    <%= f.input :employeur %>
    <%= f.input :situation_residentielle %>
    <%= f.input :nature_contrat %>
    <%= f.input :adehesion_bic %>
    <%= f.input :adres_nature %>
    <%= f.input :pays_adres %>
    <%= f.input :code_courier_adresse %>
    <%= f.input :commune %>
    <%= f.input :pays_pour_etranger %>
    <%= f.input :langue %>
    <%= f.input :devise_de_reference %>
    <%= f.input :pays_de_nationalite %>
    <%= f.input :pays_de_residence %>
    <%= f.input :pays_de_resid_fiscal %>
    <%= f.input :categorie_juridique %>
    <%= f.input :code_ape %>
    <%= f.input :option_fiscal %>
    <%= f.input :assujetissement_tva %>
    <%= f.input :credit_immed_chq_effets %>
    <%= f.input :grp_confid_client %>
    <%= f.input :affichage_sld_si_cond %>
    <%= f.input :rleve_mois_sans_mvts %>
    <%= f.input :classification %>
    <%= f.input :surveillance %>
    <%= f.input :secret %>
    <%= f.input :succession %>
    <%= f.input :instruction %>
    <%= f.input :date_ouverture %>
    <%= f.input :expl_resp %>
    <%= f.input :agence %>
    <%= f.input :autorisation_chequier %>
    <%= f.input :interdiction_chequier %>
    <%= f.input :num_cart_resid %>
    <%= f.input :iub_cip %>
    <%= f.input :secteur_institutionnel %>
    <%= f.input :titre_string %>
    <%= f.input :precision_date_de_naissance %>
    <%= f.input :nature_clientele %>
    <%= f.input :secteur_activite %>
    <%= f.input :mand %>
    <%= f.input :donne_par %>
    <%= f.input :pouvoir %>
    <%= f.input :date_effet %>
    <%= f.input :date_echance %>
    <%= f.input :email %>
    <%= f.input :cotation %>
    <%= f.input :titre %>
    <%= f.input :satut_residentiel %>
    <%= f.input :fatca %>
    <%= f.input :aml %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
