<p id="notice"><%= notice %></p>

<h1>Physiques</h1>

<table>
  <thead>
    <tr>
      <th>Racine cli</th>
      <th>Etat civil</th>
      <th>Code sexe</th>
      <th>Situation matrimonial</th>
      <th>Juridique</th>
      <th>Qualite</th>
      <th>Profession</th>
      <th>Nbre enfants</th>
      <th>Prenoms</th>
      <th>Marital nom</th>
      <th>Marital prenom</th>
      <th>Nom de la mere</th>
      <th>Prenoms du mere</th>
      <th>Nom du pere</th>
      <th>Prenoms du pere</th>
      <th>Piece</th>
      <th>Numero</th>
      <th>Iso pays</th>
      <th>Dep delivre ci</th>
      <th>Delivree</th>
      <th>Validite</th>
      <th>Pays nationalite</th>
      <th>Naissance</th>
      <th>Iso pays naissance</th>
      <th>Commune</th>
      <th>Pays de residence</th>
      <th>Dep de residence</th>
      <th>Adresse residence</th>
      <th>Ville residence</th>
      <th>Pays</th>
      <th>Portable</th>
      <th>Courr</th>
      <th>Diplome obtenu</th>
      <th>Salaire net</th>
      <th>Date embauche</th>
      <th>Date depart retraite</th>
      <th>Employeur</th>
      <th>Situation residentielle</th>
      <th>Nature contrat</th>
      <th>Adehesion bic</th>
      <th>Adres nature</th>
      <th>Pays adres</th>
      <th>Code courier adresse</th>
      <th>Commune</th>
      <th>Pays pour etranger</th>
      <th>Langue</th>
      <th>Devise de reference</th>
      <th>Pays de nationalite</th>
      <th>Pays de residence</th>
      <th>Pays de resid fiscal</th>
      <th>Categorie juridique</th>
      <th>Code ape</th>
      <th>Option fiscal</th>
      <th>Assujetissement tva</th>
      <th>Credit immed chq effets</th>
      <th>Grp confid client</th>
      <th>Affichage sld si cond</th>
      <th>Rleve mois sans mvts</th>
      <th>Classification</th>
      <th>Surveillance</th>
      <th>Secret</th>
      <th>Succession</th>
      <th>Instruction</th>
      <th>Date ouverture</th>
      <th>Expl resp</th>
      <th>Agence</th>
      <th>Autorisation chequier</th>
      <th>Interdiction chequier</th>
      <th>Num cart resid</th>
      <th>Iub cip</th>
      <th>Secteur institutionnel</th>
      <th>Titre string</th>
      <th>Precision date de naissance</th>
      <th>Nature clientele</th>
      <th>Secteur activite</th>
      <th>Mand</th>
      <th>Donne par</th>
      <th>Pouvoir</th>
      <th>Date effet</th>
      <th>Date echance</th>
      <th>Email</th>
      <th>Cotation</th>
      <th>Titre</th>
      <th>Satut residentiel</th>
      <th>Fatca</th>
      <th>Aml</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physiques.each do |physique| %>
      <tr>
        <td><%= physique.racine_cli %></td>
        <td><%= physique.etat_civil %></td>
        <td><%= physique.code_sexe %></td>
        <td><%= physique.situation_matrimonial %></td>
        <td><%= physique.juridique %></td>
        <td><%= physique.qualite %></td>
        <td><%= physique.profession %></td>
        <td><%= physique.nbre_enfants %></td>
        <td><%= physique.prenoms %></td>
        <td><%= physique.marital_nom %></td>
        <td><%= physique.marital_prenom %></td>
        <td><%= physique.nom_de_la_mere %></td>
        <td><%= physique.prenoms_du_mere %></td>
        <td><%= physique.nom_du_pere %></td>
        <td><%= physique.prenoms_du_pere %></td>
        <td><%= physique.piece %></td>
        <td><%= physique.numero %></td>
        <td><%= physique.iso_pays %></td>
        <td><%= physique.dep_delivre_ci %></td>
        <td><%= physique.delivree %></td>
        <td><%= physique.validite %></td>
        <td><%= physique.pays_nationalite %></td>
        <td><%= physique.naissance %></td>
        <td><%= physique.iso_pays_naissance %></td>
        <td><%= physique.commune %></td>
        <td><%= physique.pays_de_residence %></td>
        <td><%= physique.dep_de_residence %></td>
        <td><%= physique.adresse_residence %></td>
        <td><%= physique.ville_residence %></td>
        <td><%= physique.pays %></td>
        <td><%= physique.portable %></td>
        <td><%= physique.courr %></td>
        <td><%= physique.diplome_obtenu %></td>
        <td><%= physique.salaire_net %></td>
        <td><%= physique.date_embauche %></td>
        <td><%= physique.date_depart_retraite %></td>
        <td><%= physique.employeur %></td>
        <td><%= physique.situation_residentielle %></td>
        <td><%= physique.nature_contrat %></td>
        <td><%= physique.adehesion_bic %></td>
        <td><%= physique.adres_nature %></td>
        <td><%= physique.pays_adres %></td>
        <td><%= physique.code_courier_adresse %></td>
        <td><%= physique.commune %></td>
        <td><%= physique.pays_pour_etranger %></td>
        <td><%= physique.langue %></td>
        <td><%= physique.devise_de_reference %></td>
        <td><%= physique.pays_de_nationalite %></td>
        <td><%= physique.pays_de_residence %></td>
        <td><%= physique.pays_de_resid_fiscal %></td>
        <td><%= physique.categorie_juridique %></td>
        <td><%= physique.code_ape %></td>
        <td><%= physique.option_fiscal %></td>
        <td><%= physique.assujetissement_tva %></td>
        <td><%= physique.credit_immed_chq_effets %></td>
        <td><%= physique.grp_confid_client %></td>
        <td><%= physique.affichage_sld_si_cond %></td>
        <td><%= physique.rleve_mois_sans_mvts %></td>
        <td><%= physique.classification %></td>
        <td><%= physique.surveillance %></td>
        <td><%= physique.secret %></td>
        <td><%= physique.succession %></td>
        <td><%= physique.instruction %></td>
        <td><%= physique.date_ouverture %></td>
        <td><%= physique.expl_resp %></td>
        <td><%= physique.agence %></td>
        <td><%= physique.autorisation_chequier %></td>
        <td><%= physique.interdiction_chequier %></td>
        <td><%= physique.num_cart_resid %></td>
        <td><%= physique.iub_cip %></td>
        <td><%= physique.secteur_institutionnel %></td>
        <td><%= physique.titre_string %></td>
        <td><%= physique.precision_date_de_naissance %></td>
        <td><%= physique.nature_clientele %></td>
        <td><%= physique.secteur_activite %></td>
        <td><%= physique.mand %></td>
        <td><%= physique.donne_par %></td>
        <td><%= physique.pouvoir %></td>
        <td><%= physique.date_effet %></td>
        <td><%= physique.date_echance %></td>
        <td><%= physique.email %></td>
        <td><%= physique.cotation %></td>
        <td><%= physique.titre %></td>
        <td><%= physique.satut_residentiel %></td>
        <td><%= physique.fatca %></td>
        <td><%= physique.aml %></td>
        <td><%= link_to 'Show', physique %></td>
        <td><%= link_to 'Edit', edit_physique_path(physique) %></td>
        <td><%= link_to 'Destroy', physique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physique', new_physique_path %>
