<p id="notice"><%= notice %></p>

<p>
  <strong>Racine cli:</strong>
  <%= @physique.racine_cli %>
</p>

<p>
  <strong>Etat civil:</strong>
  <%= @physique.etat_civil %>
</p>

<p>
  <strong>Code sexe:</strong>
  <%= @physique.code_sexe %>
</p>

<p>
  <strong>Situation matrimonial:</strong>
  <%= @physique.situation_matrimonial %>
</p>

<p>
  <strong>Juridique:</strong>
  <%= @physique.juridique %>
</p>

<p>
  <strong>Qualite:</strong>
  <%= @physique.qualite %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @physique.profession %>
</p>

<p>
  <strong>Nbre enfants:</strong>
  <%= @physique.nbre_enfants %>
</p>

<p>
  <strong>Prenoms:</strong>
  <%= @physique.prenoms %>
</p>

<p>
  <strong>Marital nom:</strong>
  <%= @physique.marital_nom %>
</p>

<p>
  <strong>Marital prenom:</strong>
  <%= @physique.marital_prenom %>
</p>

<p>
  <strong>Nom de la mere:</strong>
  <%= @physique.nom_de_la_mere %>
</p>

<p>
  <strong>Prenoms du mere:</strong>
  <%= @physique.prenoms_du_mere %>
</p>

<p>
  <strong>Nom du pere:</strong>
  <%= @physique.nom_du_pere %>
</p>

<p>
  <strong>Prenoms du pere:</strong>
  <%= @physique.prenoms_du_pere %>
</p>

<p>
  <strong>Piece:</strong>
  <%= @physique.piece %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @physique.numero %>
</p>

<p>
  <strong>Iso pays:</strong>
  <%= @physique.iso_pays %>
</p>

<p>
  <strong>Dep delivre ci:</strong>
  <%= @physique.dep_delivre_ci %>
</p>

<p>
  <strong>Delivree:</strong>
  <%= @physique.delivree %>
</p>

<p>
  <strong>Validite:</strong>
  <%= @physique.validite %>
</p>

<p>
  <strong>Pays nationalite:</strong>
  <%= @physique.pays_nationalite %>
</p>

<p>
  <strong>Naissance:</strong>
  <%= @physique.naissance %>
</p>

<p>
  <strong>Iso pays naissance:</strong>
  <%= @physique.iso_pays_naissance %>
</p>

<p>
  <strong>Commune:</strong>
  <%= @physique.commune %>
</p>

<p>
  <strong>Pays de residence:</strong>
  <%= @physique.pays_de_residence %>
</p>

<p>
  <strong>Dep de residence:</strong>
  <%= @physique.dep_de_residence %>
</p>

<p>
  <strong>Adresse residence:</strong>
  <%= @physique.adresse_residence %>
</p>

<p>
  <strong>Ville residence:</strong>
  <%= @physique.ville_residence %>
</p>

<p>
  <strong>Pays:</strong>
  <%= @physique.pays %>
</p>

<p>
  <strong>Portable:</strong>
  <%= @physique.portable %>
</p>

<p>
  <strong>Courr:</strong>
  <%= @physique.courr %>
</p>

<p>
  <strong>Diplome obtenu:</strong>
  <%= @physique.diplome_obtenu %>
</p>

<p>
  <strong>Salaire net:</strong>
  <%= @physique.salaire_net %>
</p>

<p>
  <strong>Date embauche:</strong>
  <%= @physique.date_embauche %>
</p>

<p>
  <strong>Date depart retraite:</strong>
  <%= @physique.date_depart_retraite %>
</p>

<p>
  <strong>Employeur:</strong>
  <%= @physique.employeur %>
</p>

<p>
  <strong>Situation residentielle:</strong>
  <%= @physique.situation_residentielle %>
</p>

<p>
  <strong>Nature contrat:</strong>
  <%= @physique.nature_contrat %>
</p>

<p>
  <strong>Adehesion bic:</strong>
  <%= @physique.adehesion_bic %>
</p>

<p>
  <strong>Adres nature:</strong>
  <%= @physique.adres_nature %>
</p>

<p>
  <strong>Pays adres:</strong>
  <%= @physique.pays_adres %>
</p>

<p>
  <strong>Code courier adresse:</strong>
  <%= @physique.code_courier_adresse %>
</p>

<p>
  <strong>Commune:</strong>
  <%= @physique.commune %>
</p>

<p>
  <strong>Pays pour etranger:</strong>
  <%= @physique.pays_pour_etranger %>
</p>

<p>
  <strong>Langue:</strong>
  <%= @physique.langue %>
</p>

<p>
  <strong>Devise de reference:</strong>
  <%= @physique.devise_de_reference %>
</p>

<p>
  <strong>Pays de nationalite:</strong>
  <%= @physique.pays_de_nationalite %>
</p>

<p>
  <strong>Pays de residence:</strong>
  <%= @physique.pays_de_residence %>
</p>

<p>
  <strong>Pays de resid fiscal:</strong>
  <%= @physique.pays_de_resid_fiscal %>
</p>

<p>
  <strong>Categorie juridique:</strong>
  <%= @physique.categorie_juridique %>
</p>

<p>
  <strong>Code ape:</strong>
  <%= @physique.code_ape %>
</p>

<p>
  <strong>Option fiscal:</strong>
  <%= @physique.option_fiscal %>
</p>

<p>
  <strong>Assujetissement tva:</strong>
  <%= @physique.assujetissement_tva %>
</p>

<p>
  <strong>Credit immed chq effets:</strong>
  <%= @physique.credit_immed_chq_effets %>
</p>

<p>
  <strong>Grp confid client:</strong>
  <%= @physique.grp_confid_client %>
</p>

<p>
  <strong>Affichage sld si cond:</strong>
  <%= @physique.affichage_sld_si_cond %>
</p>

<p>
  <strong>Rleve mois sans mvts:</strong>
  <%= @physique.rleve_mois_sans_mvts %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @physique.classification %>
</p>

<p>
  <strong>Surveillance:</strong>
  <%= @physique.surveillance %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @physique.secret %>
</p>

<p>
  <strong>Succession:</strong>
  <%= @physique.succession %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @physique.instruction %>
</p>

<p>
  <strong>Date ouverture:</strong>
  <%= @physique.date_ouverture %>
</p>

<p>
  <strong>Expl resp:</strong>
  <%= @physique.expl_resp %>
</p>

<p>
  <strong>Agence:</strong>
  <%= @physique.agence %>
</p>

<p>
  <strong>Autorisation chequier:</strong>
  <%= @physique.autorisation_chequier %>
</p>

<p>
  <strong>Interdiction chequier:</strong>
  <%= @physique.interdiction_chequier %>
</p>

<p>
  <strong>Num cart resid:</strong>
  <%= @physique.num_cart_resid %>
</p>

<p>
  <strong>Iub cip:</strong>
  <%= @physique.iub_cip %>
</p>

<p>
  <strong>Secteur institutionnel:</strong>
  <%= @physique.secteur_institutionnel %>
</p>

<p>
  <strong>Titre string:</strong>
  <%= @physique.titre_string %>
</p>

<p>
  <strong>Precision date de naissance:</strong>
  <%= @physique.precision_date_de_naissance %>
</p>

<p>
  <strong>Nature clientele:</strong>
  <%= @physique.nature_clientele %>
</p>

<p>
  <strong>Secteur activite:</strong>
  <%= @physique.secteur_activite %>
</p>

<p>
  <strong>Mand:</strong>
  <%= @physique.mand %>
</p>

<p>
  <strong>Donne par:</strong>
  <%= @physique.donne_par %>
</p>

<p>
  <strong>Pouvoir:</strong>
  <%= @physique.pouvoir %>
</p>

<p>
  <strong>Date effet:</strong>
  <%= @physique.date_effet %>
</p>

<p>
  <strong>Date echance:</strong>
  <%= @physique.date_echance %>
</p>

<p>
  <strong>Email:</strong>
  <%= @physique.email %>
</p>

<p>
  <strong>Cotation:</strong>
  <%= @physique.cotation %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @physique.titre %>
</p>

<p>
  <strong>Satut residentiel:</strong>
  <%= @physique.satut_residentiel %>
</p>

<p>
  <strong>Fatca:</strong>
  <%= @physique.fatca %>
</p>

<p>
  <strong>Aml:</strong>
  <%= @physique.aml %>
</p>

<%= link_to 'Edit', edit_physique_path(@physique) %> |
<%= link_to 'Back', physiques_path %>
