
<%= simple_form_for(@process_morale) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :statusclient %>
    <%= f.association :morale %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
