<p id="notice"><%= notice %></p>

<h1>Process Morales</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Statusclient</th>
      <th>Morale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_morales.each do |process_morale| %>
      <tr>
        <td><%= process_morale.user %></td>
        <td><%= process_morale.statusclient %></td>
        <td><%= process_morale.morale %></td>
        <td><%= link_to 'Show', process_morale %></td>
        <td><%= link_to 'Edit', edit_process_morale_path(process_morale) %></td>
        <td><%= link_to 'Destroy', process_morale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process Morale', new_process_morale_path %>
