<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @process_morale.user %>
</p>

<p>
  <strong>Statusclient:</strong>
  <%= @process_morale.statusclient %>
</p>

<p>
  <strong>Morale:</strong>
  <%= @process_morale.morale %>
</p>

<%= link_to 'Edit', edit_process_morale_path(@process_morale) %> |
<%= link_to 'Back', process_morales_path %>
