<p id="notice"><%= notice %></p>

<h1>Statusclients</h1>

<table>
  <thead>
    <tr>
      <th>Statut</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statusclients.each do |statusclient| %>
      <tr>
        <td><%= statusclient.statut %></td>
        <td><%= link_to 'Show', statusclient %></td>
        <td><%= link_to 'Edit', edit_statusclient_path(statusclient) %></td>
        <td><%= link_to 'Destroy', statusclient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statusclient', new_statusclient_path %>
