<p id="notice"><%= notice %></p>

<p>
  <strong>Statut:</strong>
  <%= @statusclient.statut %>
</p>

<%= link_to 'Edit', edit_statusclient_path(@statusclient) %> |
<%= link_to 'Back', statusclients_path %>
