<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @role.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
