
<%= simple_form_for(@agence) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :nom %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
