<p id="notice"><%= notice %></p>

<h1>Agences</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agences.each do |agence| %>
      <tr>
        <td><%= agence.code %></td>
        <td><%= agence.nom %></td>
        <td><%= link_to 'Show', agence %></td>
        <td><%= link_to 'Edit', edit_agence_path(agence) %></td>
        <td><%= link_to 'Destroy', agence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agence', new_agence_path %>
