<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @agence.code %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @agence.nom %>
</p>

<%= link_to 'Edit', edit_agence_path(@agence) %> |
<%= link_to 'Back', agences_path %>
