<p id="notice"><%= notice %></p>

<h1>Process Physiques</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Statusclient</th>
      <th>Morale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_physiques.each do |process_physique| %>
      <tr>
        <td><%= process_physique.user %></td>
        <td><%= process_physique.statusclient %></td>
        <td><%= process_physique.morale %></td>
        <td><%= link_to 'Show', process_physique %></td>
        <td><%= link_to 'Edit', edit_process_physique_path(process_physique) %></td>
        <td><%= link_to 'Destroy', process_physique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process Physique', new_process_physique_path %>
