<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @process_physique.user %>
</p>

<p>
  <strong>Statusclient:</strong>
  <%= @process_physique.statusclient %>
</p>

<p>
  <strong>Morale:</strong>
  <%= @process_physique.morale %>
</p>

<%= link_to 'Edit', edit_process_physique_path(@process_physique) %> |
<%= link_to 'Back', process_physiques_path %>
