
<%= simple_form_for(@morale) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :racine_cli %>
    <%= f.input :nom_jur %>
    <%= f.input :date_ouv %>
    <%= f.input :obj_sco %>
    <%= f.input :rcs %>
    <%= f.input :categ_jur %>
    <%= f.input :forme %>
    <%= f.input :pays_crea %>
    <%= f.input :pays_exploit %>
    <%= f.input :code_ape %>
    <%= f.input :lieu %>
    <%= f.input :capital %>
    <%= f.input :ca_social_ht %>
    <%= f.input :adresse_nom %>
    <%= f.input :adresse_comp_nom %>
    <%= f.input :adresse %>
    <%= f.input :ville %>
    <%= f.input :pays %>
    <%= f.input :code_postal %>
    <%= f.input :fixe %>
    <%= f.input :email %>
    <%= f.input :langue %>
    <%= f.input :courr %>
    <%= f.input :prs %>
    <%= f.input :ident %>
    <%= f.input :nom_signataire %>
    <%= f.input :qualite_fonction %>
    <%= f.input :pouvoir %>
    <%= f.input :type_signataire %>
    <%= f.input :dateffet %>
    <%= f.input :date_echance %>
    <%= f.input :mont_max %>
    <%= f.input :date_decision %>
    <%= f.input :bic %>
    <%= f.input :langue %>
    <%= f.input :devise_de_reference %>
    <%= f.input :pays_de_nationalite %>
    <%= f.input :pays_de_residence %>
    <%= f.input :pays_de_residence_fiscal %>
    <%= f.input :public_privee %>
    <%= f.input :option_fiscal %>
    <%= f.input :assujetissement_tva %>
    <%= f.input :actionnaires %>
    <%= f.input :consolide %>
    <%= f.input :apparente %>
    <%= f.input :participation_client_dans_banque %>
    <%= f.input :participatio_banque_dans_client %>
    <%= f.input :autorisation_chequier %>
    <%= f.input :interdiction_chequier %>
    <%= f.input :credit_immed_chq_effets %>
    <%= f.input :contrat_gestion %>
    <%= f.input :calcul_de_performance %>
    <%= f.input :grp_confid_client %>
    <%= f.input :affichage_sld_si_cond %>
    <%= f.input :releves_mois_mvts %>
    <%= f.input :releves_mois_sans_mvts %>
    <%= f.input :classification %>
    <%= f.input :surveillance %>
    <%= f.input :secret %>
    <%= f.input :sucession %>
    <%= f.input :instruction_tel %>
    <%= f.input :date_ouverture %>
    <%= f.input :expl_resp %>
    <%= f.input :agence %>
    <%= f.input :notation_type %>
    <%= f.input :date %>
    <%= f.input :groupe_de_clients_lies %>
    <%= f.input :iub_cip %>
    <%= f.input :nature_clientele %>
    <%= f.input :groupe_activite %>
    <%= f.input :secteur_institutionnel %>
    <%= f.input :forme_juridique %>
    <%= f.input :siren %>
    <%= f.input :ninea %>
    <%= f.input :agec %>
    <%= f.input :secteur_activite %>
    <%= f.input :effect %>
    <%= f.input :sres %>
    <%= f.input :fax %>
    <%= f.input :num_ifu %>
    <%= f.input :segmentation %>
    <%= f.input :fatca %>
    <%= f.input :aml %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
