<p id="notice"><%= notice %></p>

<h1>Morales</h1>

<table>
  <thead>
    <tr>
      <th>Racine cli</th>
      <th>Nom jur</th>
      <th>Date ouv</th>
      <th>Obj sco</th>
      <th>Rcs</th>
      <th>Categ jur</th>
      <th>Forme</th>
      <th>Pays crea</th>
      <th>Pays exploit</th>
      <th>Code ape</th>
      <th>Lieu</th>
      <th>Capital</th>
      <th>Ca social ht</th>
      <th>Adresse nom</th>
      <th>Adresse comp nom</th>
      <th>Adresse</th>
      <th>Ville</th>
      <th>Pays</th>
      <th>Code postal</th>
      <th>Fixe</th>
      <th>Email</th>
      <th>Langue</th>
      <th>Courr</th>
      <th>Prs</th>
      <th>Ident</th>
      <th>Nom signataire</th>
      <th>Qualite fonction</th>
      <th>Pouvoir</th>
      <th>Type signataire</th>
      <th>Dateffet</th>
      <th>Date echance</th>
      <th>Mont max</th>
      <th>Date decision</th>
      <th>Bic</th>
      <th>Langue</th>
      <th>Devise de reference</th>
      <th>Pays de nationalite</th>
      <th>Pays de residence</th>
      <th>Pays de residence fiscal</th>
      <th>Public privee</th>
      <th>Option fiscal</th>
      <th>Assujetissement tva</th>
      <th>Actionnaires</th>
      <th>Consolide</th>
      <th>Apparente</th>
      <th>Participation client dans banque</th>
      <th>Participatio banque dans client</th>
      <th>Autorisation chequier</th>
      <th>Interdiction chequier</th>
      <th>Credit immed chq effets</th>
      <th>Contrat gestion</th>
      <th>Calcul de performance</th>
      <th>Grp confid client</th>
      <th>Affichage sld si cond</th>
      <th>Releves mois mvts</th>
      <th>Releves mois sans mvts</th>
      <th>Classification</th>
      <th>Surveillance</th>
      <th>Secret</th>
      <th>Sucession</th>
      <th>Instruction tel</th>
      <th>Date ouverture</th>
      <th>Expl resp</th>
      <th>Agence</th>
      <th>Notation type</th>
      <th>Date</th>
      <th>Groupe de clients lies</th>
      <th>Iub cip</th>
      <th>Nature clientele</th>
      <th>Groupe activite</th>
      <th>Secteur institutionnel</th>
      <th>Forme juridique</th>
      <th>Siren</th>
      <th>Ninea</th>
      <th>Agec</th>
      <th>Secteur activite</th>
      <th>Effect</th>
      <th>Sres</th>
      <th>Fax</th>
      <th>Num ifu</th>
      <th>Segmentation</th>
      <th>Fatca</th>
      <th>Aml</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @morales.each do |morale| %>
      <tr>
        <td><%= morale.racine_cli %></td>
        <td><%= morale.nom_jur %></td>
        <td><%= morale.date_ouv %></td>
        <td><%= morale.obj_sco %></td>
        <td><%= morale.rcs %></td>
        <td><%= morale.categ_jur %></td>
        <td><%= morale.forme %></td>
        <td><%= morale.pays_crea %></td>
        <td><%= morale.pays_exploit %></td>
        <td><%= morale.code_ape %></td>
        <td><%= morale.lieu %></td>
        <td><%= morale.capital %></td>
        <td><%= morale.ca_social_ht %></td>
        <td><%= morale.adresse_nom %></td>
        <td><%= morale.adresse_comp_nom %></td>
        <td><%= morale.adresse %></td>
        <td><%= morale.ville %></td>
        <td><%= morale.pays %></td>
        <td><%= morale.code_postal %></td>
        <td><%= morale.fixe %></td>
        <td><%= morale.email %></td>
        <td><%= morale.langue %></td>
        <td><%= morale.courr %></td>
        <td><%= morale.prs %></td>
        <td><%= morale.ident %></td>
        <td><%= morale.nom_signataire %></td>
        <td><%= morale.qualite_fonction %></td>
        <td><%= morale.pouvoir %></td>
        <td><%= morale.type_signataire %></td>
        <td><%= morale.dateffet %></td>
        <td><%= morale.date_echance %></td>
        <td><%= morale.mont_max %></td>
        <td><%= morale.date_decision %></td>
        <td><%= morale.bic %></td>
        <td><%= morale.langue %></td>
        <td><%= morale.devise_de_reference %></td>
        <td><%= morale.pays_de_nationalite %></td>
        <td><%= morale.pays_de_residence %></td>
        <td><%= morale.pays_de_residence_fiscal %></td>
        <td><%= morale.public_privee %></td>
        <td><%= morale.option_fiscal %></td>
        <td><%= morale.assujetissement_tva %></td>
        <td><%= morale.actionnaires %></td>
        <td><%= morale.consolide %></td>
        <td><%= morale.apparente %></td>
        <td><%= morale.participation_client_dans_banque %></td>
        <td><%= morale.participatio_banque_dans_client %></td>
        <td><%= morale.autorisation_chequier %></td>
        <td><%= morale.interdiction_chequier %></td>
        <td><%= morale.credit_immed_chq_effets %></td>
        <td><%= morale.contrat_gestion %></td>
        <td><%= morale.calcul_de_performance %></td>
        <td><%= morale.grp_confid_client %></td>
        <td><%= morale.affichage_sld_si_cond %></td>
        <td><%= morale.releves_mois_mvts %></td>
        <td><%= morale.releves_mois_sans_mvts %></td>
        <td><%= morale.classification %></td>
        <td><%= morale.surveillance %></td>
        <td><%= morale.secret %></td>
        <td><%= morale.sucession %></td>
        <td><%= morale.instruction_tel %></td>
        <td><%= morale.date_ouverture %></td>
        <td><%= morale.expl_resp %></td>
        <td><%= morale.agence %></td>
        <td><%= morale.notation_type %></td>
        <td><%= morale.date %></td>
        <td><%= morale.groupe_de_clients_lies %></td>
        <td><%= morale.iub_cip %></td>
        <td><%= morale.nature_clientele %></td>
        <td><%= morale.groupe_activite %></td>
        <td><%= morale.secteur_institutionnel %></td>
        <td><%= morale.forme_juridique %></td>
        <td><%= morale.siren %></td>
        <td><%= morale.ninea %></td>
        <td><%= morale.agec %></td>
        <td><%= morale.secteur_activite %></td>
        <td><%= morale.effect %></td>
        <td><%= morale.sres %></td>
        <td><%= morale.fax %></td>
        <td><%= morale.num_ifu %></td>
        <td><%= morale.segmentation %></td>
        <td><%= morale.fatca %></td>
        <td><%= morale.aml %></td>
        <td><%= link_to 'Show', morale %></td>
        <td><%= link_to 'Edit', edit_morale_path(morale) %></td>
        <td><%= link_to 'Destroy', morale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Morale', new_morale_path %>
