<p id="notice"><%= notice %></p>

<p>
  <strong>Racine cli:</strong>
  <%= @morale.racine_cli %>
</p>

<p>
  <strong>Nom jur:</strong>
  <%= @morale.nom_jur %>
</p>

<p>
  <strong>Date ouv:</strong>
  <%= @morale.date_ouv %>
</p>

<p>
  <strong>Obj sco:</strong>
  <%= @morale.obj_sco %>
</p>

<p>
  <strong>Rcs:</strong>
  <%= @morale.rcs %>
</p>

<p>
  <strong>Categ jur:</strong>
  <%= @morale.categ_jur %>
</p>

<p>
  <strong>Forme:</strong>
  <%= @morale.forme %>
</p>

<p>
  <strong>Pays crea:</strong>
  <%= @morale.pays_crea %>
</p>

<p>
  <strong>Pays exploit:</strong>
  <%= @morale.pays_exploit %>
</p>

<p>
  <strong>Code ape:</strong>
  <%= @morale.code_ape %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @morale.lieu %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @morale.capital %>
</p>

<p>
  <strong>Ca social ht:</strong>
  <%= @morale.ca_social_ht %>
</p>

<p>
  <strong>Adresse nom:</strong>
  <%= @morale.adresse_nom %>
</p>

<p>
  <strong>Adresse comp nom:</strong>
  <%= @morale.adresse_comp_nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @morale.adresse %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @morale.ville %>
</p>

<p>
  <strong>Pays:</strong>
  <%= @morale.pays %>
</p>

<p>
  <strong>Code postal:</strong>
  <%= @morale.code_postal %>
</p>

<p>
  <strong>Fixe:</strong>
  <%= @morale.fixe %>
</p>

<p>
  <strong>Email:</strong>
  <%= @morale.email %>
</p>

<p>
  <strong>Langue:</strong>
  <%= @morale.langue %>
</p>

<p>
  <strong>Courr:</strong>
  <%= @morale.courr %>
</p>

<p>
  <strong>Prs:</strong>
  <%= @morale.prs %>
</p>

<p>
  <strong>Ident:</strong>
  <%= @morale.ident %>
</p>

<p>
  <strong>Nom signataire:</strong>
  <%= @morale.nom_signataire %>
</p>

<p>
  <strong>Qualite fonction:</strong>
  <%= @morale.qualite_fonction %>
</p>

<p>
  <strong>Pouvoir:</strong>
  <%= @morale.pouvoir %>
</p>

<p>
  <strong>Type signataire:</strong>
  <%= @morale.type_signataire %>
</p>

<p>
  <strong>Dateffet:</strong>
  <%= @morale.dateffet %>
</p>

<p>
  <strong>Date echance:</strong>
  <%= @morale.date_echance %>
</p>

<p>
  <strong>Mont max:</strong>
  <%= @morale.mont_max %>
</p>

<p>
  <strong>Date decision:</strong>
  <%= @morale.date_decision %>
</p>

<p>
  <strong>Bic:</strong>
  <%= @morale.bic %>
</p>

<p>
  <strong>Langue:</strong>
  <%= @morale.langue %>
</p>

<p>
  <strong>Devise de reference:</strong>
  <%= @morale.devise_de_reference %>
</p>

<p>
  <strong>Pays de nationalite:</strong>
  <%= @morale.pays_de_nationalite %>
</p>

<p>
  <strong>Pays de residence:</strong>
  <%= @morale.pays_de_residence %>
</p>

<p>
  <strong>Pays de residence fiscal:</strong>
  <%= @morale.pays_de_residence_fiscal %>
</p>

<p>
  <strong>Public privee:</strong>
  <%= @morale.public_privee %>
</p>

<p>
  <strong>Option fiscal:</strong>
  <%= @morale.option_fiscal %>
</p>

<p>
  <strong>Assujetissement tva:</strong>
  <%= @morale.assujetissement_tva %>
</p>

<p>
  <strong>Actionnaires:</strong>
  <%= @morale.actionnaires %>
</p>

<p>
  <strong>Consolide:</strong>
  <%= @morale.consolide %>
</p>

<p>
  <strong>Apparente:</strong>
  <%= @morale.apparente %>
</p>

<p>
  <strong>Participation client dans banque:</strong>
  <%= @morale.participation_client_dans_banque %>
</p>

<p>
  <strong>Participatio banque dans client:</strong>
  <%= @morale.participatio_banque_dans_client %>
</p>

<p>
  <strong>Autorisation chequier:</strong>
  <%= @morale.autorisation_chequier %>
</p>

<p>
  <strong>Interdiction chequier:</strong>
  <%= @morale.interdiction_chequier %>
</p>

<p>
  <strong>Credit immed chq effets:</strong>
  <%= @morale.credit_immed_chq_effets %>
</p>

<p>
  <strong>Contrat gestion:</strong>
  <%= @morale.contrat_gestion %>
</p>

<p>
  <strong>Calcul de performance:</strong>
  <%= @morale.calcul_de_performance %>
</p>

<p>
  <strong>Grp confid client:</strong>
  <%= @morale.grp_confid_client %>
</p>

<p>
  <strong>Affichage sld si cond:</strong>
  <%= @morale.affichage_sld_si_cond %>
</p>

<p>
  <strong>Releves mois mvts:</strong>
  <%= @morale.releves_mois_mvts %>
</p>

<p>
  <strong>Releves mois sans mvts:</strong>
  <%= @morale.releves_mois_sans_mvts %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @morale.classification %>
</p>

<p>
  <strong>Surveillance:</strong>
  <%= @morale.surveillance %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @morale.secret %>
</p>

<p>
  <strong>Sucession:</strong>
  <%= @morale.sucession %>
</p>

<p>
  <strong>Instruction tel:</strong>
  <%= @morale.instruction_tel %>
</p>

<p>
  <strong>Date ouverture:</strong>
  <%= @morale.date_ouverture %>
</p>

<p>
  <strong>Expl resp:</strong>
  <%= @morale.expl_resp %>
</p>

<p>
  <strong>Agence:</strong>
  <%= @morale.agence %>
</p>

<p>
  <strong>Notation type:</strong>
  <%= @morale.notation_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @morale.date %>
</p>

<p>
  <strong>Groupe de clients lies:</strong>
  <%= @morale.groupe_de_clients_lies %>
</p>

<p>
  <strong>Iub cip:</strong>
  <%= @morale.iub_cip %>
</p>

<p>
  <strong>Nature clientele:</strong>
  <%= @morale.nature_clientele %>
</p>

<p>
  <strong>Groupe activite:</strong>
  <%= @morale.groupe_activite %>
</p>

<p>
  <strong>Secteur institutionnel:</strong>
  <%= @morale.secteur_institutionnel %>
</p>

<p>
  <strong>Forme juridique:</strong>
  <%= @morale.forme_juridique %>
</p>

<p>
  <strong>Siren:</strong>
  <%= @morale.siren %>
</p>

<p>
  <strong>Ninea:</strong>
  <%= @morale.ninea %>
</p>

<p>
  <strong>Agec:</strong>
  <%= @morale.agec %>
</p>

<p>
  <strong>Secteur activite:</strong>
  <%= @morale.secteur_activite %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @morale.effect %>
</p>

<p>
  <strong>Sres:</strong>
  <%= @morale.sres %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @morale.fax %>
</p>

<p>
  <strong>Num ifu:</strong>
  <%= @morale.num_ifu %>
</p>

<p>
  <strong>Segmentation:</strong>
  <%= @morale.segmentation %>
</p>

<p>
  <strong>Fatca:</strong>
  <%= @morale.fatca %>
</p>

<p>
  <strong>Aml:</strong>
  <%= @morale.aml %>
</p>

<%= link_to 'Edit', edit_morale_path(@morale) %> |
<%= link_to 'Back', morales_path %>
